<div class="small-centered columns">
  <h1>Welcome to Loudoun County Weddings</h1>
</div>

<div class="transparent">
  <aside class="large-2 columns nopadding-right">
    <ul class="side-nav">
      <% if user_signed_in? %>
        <li class="large-text-right small-text-center medium-text-center"><%= link_to 'Venues Admin', venues_path, class: "button left-side-panel" %></li>
        <li class="large-text-right small-text-center medium-text-center"><%= link_to 'Vendors Admin', vendors_path, class: "button left-side-panel" %></li>
        <li class="large-text-right small-text-center medium-text-center"><%= link_to 'Add Venue', new_venue_path, class: "button left-side-panel" %></li>
        <li class="large-text-right small-text-center medium-text-center"><%= link_to 'Add Vendor', new_vendor_path, class: "button left-side-panel" %></li>
      <% end %>
      <% if params[:vendors_only] %>
        <li class="large-text-right small-text-center medium-text-center">
          <%= link_to("Venues only", root_path(venues_only: true), class: "button left-side-panel") %>
        </li>
        <li class="large-text-right small-text-center medium-text-center">
          <%= link_to("All", root_path, class: "button left-side-panel") %>
        </li>
      <% elsif params[:venues_only] %>
        <li class="large-text-right small-text-center medium-text-center">
          <%= link_to("All", root_path, class: "button left-side-panel") %>
        </li>
        <li class="large-text-right small-text-center medium-text-center">
          <%= link_to("Vendors only", root_path(vendors_only: true), class: "button left-side-panel") %>
        </li>
      <% else %>
        <li class="large-text-right small-text-center medium-text-center">
          <%= link_to("Venues only", root_path(venues_only: true), class: "button left-side-panel") %>
        </li>
        <li class="large-text-right small-text-center medium-text-center">
          <%= link_to("Vendors only", root_path(vendors_only: true), class: "button left-side-panel") %>
        </li>
      <% end %>
<!--       <li class="large-text-right small-text-center medium-text-center">
        <div class="switch large">
          <input id="mapSwitch" type="checkbox">
            <label for="mapSwitch">
              <span class="switch-on">MAP</span>
              <span class="switch-off">LIST</span>
          </label>
        </div>
      </li> -->
    </ul>
    <div class="common-filters left-side-panel">
      <%= form_tag("/", method: :get) do %>
        <ul class="no-bullet">
            <li>
              Max: $
              <input type="number" name="max_price" id="priceOutput" value=<%= "#{params[:max_price]}"  %>>
              <div class="range-slider radius" id="slide-price"data-slider<%= "=#{params[:max_price]}" unless params[:max_price].nil?  %> data-options="start: 1; end: 5000; display_selector: #priceOutput;">
                <span class="range-slider-handle" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span>
                <input type="hidden">
              </div>
            </li>
            <li>
              Min Capacity:
              <input type="number" name="min_capacity" id="capacityOutput" value=<%= "#{params[:min_capacity]}"  %>>
              <div class="range-slider radius" id="slide-ppl"data-slider<%= "=#{params[:min_capacity]}" unless params[:min_capacity].nil? %> data-options="start: 10; end: 500; display_selector: #capacityOutput;">
                <span class="range-slider-handle" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span>
                <input type="hidden">
              </div>
            </li>
            <li class="text-center">
              Disabled access?
              <div class="switch tiny">
                <input id="disabledSwitch" type="checkbox" name="disabled_access" <%= params[:disabled_access] ? "checked" : ""  %> >
                <label for="disabledSwitch">
                  <span class="tiny-switch-on">Yes</span>
                  <span class="tiny-switch-off">No</span>
                </label>
              </div>
            </li>
            <li class="text-center">
              Child friendly?
              <div class="switch tiny">
                <input id="childSwitch" type="checkbox" name="children_friendly" <%= params[:children_friendly] ? "checked" : ""  %> >
                <label for="childSwitch">
                  <span class="tiny-switch-on">Yes</span>
                  <span class="tiny-switch-off">No</span>
                </label>
              </div>
            </li>
        </ul>
        <div class="text-center">
          <% if params[:vendors_only] %>
              <input type="hidden" name="vendors_only" value="true">
          <% elsif params[:venues_only] %>
              <input type="hidden" name="venues_only" value="true">
          <% end %>
          <%= submit_tag "Filter", :class => "button radius", :disabled => false, :disable_with => "Filtering..." %>
          <% if params[:commit] == "Filter" %>
            <%= link_to "clear filter", root_path %>
          <% end %>
        </div>
      <% end %>
    </div>
  </aside>

  <div class="large-10 columns">
    <div class="sorting clearfix">
      <button class="small radius dropdown right" aria-controls="drop" aria-expanded="false" data-dropdown="drop">
        Sort by
      </button>
      <ul id="drop" class="f-dropdown" aria-hidden="true" data-dropdown-content>
        <li><%= link_to("name", params.merge(sort: "name")) %></li>
        <li><%= link_to("price", params.merge(sort: "pricing")) %></li>
        <li><%= link_to("capacity", params.merge(sort: "size_details")) %></li>
      </ul>
    </div>
    <article class="left-border scrollable radius animated fadeInRight">
      <%= render @venues unless @venues.nil? %>
      <%= render @vendors unless @vendors.nil? %>
    </article>
  </div>

</div>
