<div class="small-centered columns" id="welcome-text">
  <h1>Welcome to Loudon County Weddings</h1>
  <h3 class="subheader">Your guide to all local wedding resources in the gorgeous Loudon County</h3>
</div>

<div class="transparent">
  <aside class="large-2 columns nopadding-right">
    <ul class="side-nav">
      <li class="text-right"><%= link_to("Venues", "#", class: "button") %></li>
      <li class="text-right"><%= link_to("Vendors", "#", class: "button") %></li>
      <li class="text-right"><%= link_to("Services", "#", class: "button") %></li>
    </ul>
    <div class="panel common-filters">
      <ul>
          <li>price filter</li>
          <li>size filter</li>
          <li>disabled access checkbox</li>
          <li>child friendly</li>
      </ul>
    </div>
  </aside>

  <article class="large-10 columns panel scrollable">
    <%= render @venues unless @venues.nil? %>
    <%= render @vendors unless @vendors.nil? %>
  </article>

</div>
