<h1>All Venues</h1>
<div class="row">
  <ul class="small-10 columns small-centered inline-list">
    <li><%= link_to 'Add Single Venue', new_venue_path, class: "button" %></li>
    <li><%= link_to 'Export to CSV', venues_path(format: "csv"), class: "button" %></li>
    <li>
      <%= form_tag import_venues_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import from CSV", class: "button " %>
      <% end %>
    </li>
  </ul>
</div>

<div class="row">
  <table class="small-centered column">
    <thead>
      <tr>
        <th colspan="1">Venue Name</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @venues.each do |venue| %>
        <tr>
          <td>
            <h3><%= venue.name %></h3>
            <%= image_tag(venue.photos.first.thumb.url) if venue.photos? %>
          </td>
          <td><%= link_to 'Show', venue %></td>
          <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
          <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
