<div class="row">
  <h1>All Venues</h1>
  <%= link_to 'Add Venue', new_venue_path, class: "button" %>

  <table>
    <thead>
      <tr>
        <th colspan="1">Venue Name</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @venues.each do |venue| %>
        <tr>
          <td>
            <h3><%= venue.name %></h3>
            <%= image_tag(venue.photos.first.url) if venue.photos? %>
          </td>
          <td><%= link_to 'Show', venue %></td>
          <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
          <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
