<div class="columns chunk">
  <div class="large-4 column merchant-thumbnail">
    <% if vendor.photos? %>
      <%= link_to(image_tag(vendor.photos.last.thumb.url), vendor_path(vendor)) %>
    <% else %>
      <%= link_to(image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5Z-sl7HLU7OJZ30S5FuNzC8sxYoWL9acyHQU0koc32SJv0qwB5Q"), vendor_path(vendor)) %>
    <% end %>
  </div>
  <div class="large-8 columns details-darling">
    <h4><%= link_to(vendor.name, vendor_path(vendor)) %></h4>
    <p><%= vendor.contact_details if vendor.contact_details? %></p>
    <% if vendor.website? %>
        <p><%= link_to("website", vendor.website, target: "_blank") %></p>
    <% end %>
    <p><%= vendor.description if vendor.description? %></p>
    <p><%= vendor.services if vendor.services? %></p>
    <p><%= vendor.pricing if vendor.pricing? %></p>
  </div>
</div>
<hr>
