<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Loudoun County Weddings" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "local wedding resources in the gorgeous Loudoun County" %>">
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Tangerine' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=EB+Garamond' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Montserrat' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row translucent">
      <main role="main radius">
         <%= render 'layouts/messages' %>
         <%= yield %>
      </main>
    </div>
      <footer class="footer row">
        <%= render 'layouts/footer' %>
      </footer>
  </body>
</html>
